  <div id="transition-overlay"></div>
  <div id="map-tooltip"></div>
  <div id="adv-tooltip"></div>
  <div id="global-tooltip"></div>
  <div id="app-background"></div>



  <!-- 頂部資源列 -->
  <div id="top-bar" style="display: none;">
    <div class="resource-group">
      <div class="resource-item"><span class="resource-icon">🏰</span> <span id="ui-location">世界地圖</span></div>
      <div class="resource-item"><span class="resource-icon">👑</span> <span id="ui-title">平民</span></div>
    </div>
    <div class="resource-group">
      <div class="resource-item" data-tip="總人口"><span class="resource-icon">👥</span> <span id="ui-population">0</span></div>
      <div class="resource-item" data-tip="治安度 (影響產出與稅收)"><span class="resource-icon">🛡️</span> <span id="ui-security">100</span>%</div>
      <div class="resource-item" data-tip="糧食"><span class="res-sprite res-food"></span> <span id="ui-food">0</span></div>
      <div class="resource-item" data-tip="木材"><span class="res-sprite res-wood"></span> <span id="ui-wood">0</span></div>
      <div class="resource-item" data-tip="石材"><span class="res-sprite res-stone"></span> <span id="ui-stone">0</span></div>
      <div class="resource-item" data-tip="鐵礦"><span class="res-sprite res-iron"></span> <span id="ui-iron">0</span></div>
      <div class="resource-item" data-tip="生皮"><span class="resource-icon">🦬</span> <span id="ui-hide">0</span></div>
      <div class="resource-item" data-tip="棉麻"><span class="resource-icon">🌿</span> <span id="ui-cotton">0</span></div>
      <div class="resource-item" data-tip="金幣"><span class="res-sprite res-gold"></span> <span id="ui-gold">0</span></div>
    </div>
      <div class="resource-group" style="gap: 10px; align-items: center;">
      <div class="resource-item" id="ui-threat" data-tip="下一次威脅"><span class="resource-icon">⚠️</span> <span id="ui-threat-days">10天</span></div>
      <div class="resource-item" data-tip="遊戲日期"><span class="resource-icon">📅</span> <span id="ui-date">第 1 年 1 月 1 日</span></div>
    </div>
  </div>
